<html>
<body>
	<div class="container-fluid p-0 aa">
		<div class="about-us row pt-5">
			<div class="col-xs-12 col-sm-12 col-md-12 section-title text-center">
				<h1 class="condensed-text display-5 pl-0">ABOUT US</h1>
				<div class="col-xs-12 col-sm-12 col-md-12 pr-5 pl-5">
					<hr style ="width:25px;"> 
				</div>
			</div>

			<!-- WHAT IS SNAAAP -->
			<div class="row" style="padding-left:100px">
				  	<div class="col-sm-6">
				    	<div class="card cad2" style="border:none;">
				    		<div class="card-body">
				        	 <h3 class="condensed-text display-5 pl-0">What is snaaap?</h3>
				        	 <br>
				        	<h5 class="card-text">Snaaap is a platform that enables the Internet-of-interactions. Through the use of Non-Persistent Micro Apps in mobiles, we power the further digitization of every business bringing interactions across multiple verticals and applications.</h5>
				      		</div>
				    	</div>
				  </div>	
			  <div class="col-sm-6" style="padding-left:150px">
			    	<div class="card cad" style="bor
			    	der:none;">
			    		  <div class="card-body">
			      		  <img src="assets/snap_logo_2.png"> 
			        
			      </div>
			    </div>
			  </div>
			</div>

				

					  <div class="card-deck card-deck-bg">
					  
					  </div>



<!--services-->
	<div class="services" id="services" style="padding-top: 50px;" >
		<div class="container" >
			
			<div class="servc-grids" >
				<div class="col-md-4 col-sm-6 servc-grid servc-grid-top " >
					<ul style="border:none; width:300px;"> 
						<li>
							<span class="fa fa-users" aria-hidden="true"></span>
						</li>
						<li>
							<center>
							<h4 >User Acqusition</h4>
							
						</li>
					</ul> 
					<div class="clearfix"> </div>
					<center>  
					<p class="usod-text">We have a multi-faceted user acquisition strategy and we expect to have as many as 50,000 users by February 2018.</p>
					</center>
				</div>
				<div class="col-md-4 col-sm-6 servc-grid servc-grid-top ">
					<ul> 
						<li>
							<span class="fa fa-hand-o-up" aria-hidden="true"></span>
						</li>
						<li><center>
							<h4>Swipe&Scan</h4>
						</center>
						</li>
					</ul> 
					<div class="clearfix"> </div>
					<center>
					<p class="usod-text">Complete transactions with two simple finger movements on your mobile.</p>
				</center>
				</div>
				<div class="col-md-4 col-sm-6 servc-grid servc-grid-top ">
					<ul> 
						<li>
							<span class="fa fa-gift" aria-hidden="true"></span>
						</li>
						<li>
							<center>
							<h4>User Perks</h4>	</center>
							
						</li>
					</ul> 
					<div class="clearfix"> </div>
					<center>
					<p class="usod-text">Use Snaaap to earn instant F&B, shopping rebates with our merchants, win prizes and much more!</p>
					</center>
				</div>

		</div>
	</div>
	</div>			
</body>
</html>