<html>
<body>

	<div class="blog-bg">
<h1 class="condensed-text display-5 pl-0 " style="text-align: center;" >NEWS</h1>
<div class="card-deck card-deck3">	
  <div class="card blog-cards">
    <img class="card-img-top" src="assets/8822.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Snaaap is Officially on GooglePlay and iOS Appstore</h5>
      <p class="card-text">Snaaap can now be officially found on both android and apple app stores respectively!</p>
      <button type="button" class="btn btn-primary  btnblog">Read More</button>
      <p class="card-text"><small class="text-muted"> November 16, 2017 by user  </small></p>
    </div>
  </div>
  <div class="card blog-cards">
    <img class="card-img-top" src="assets/8822.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Snaaap is Officially on GooglePlay and iOS Appstore</h5>
      <p class="card-text">Snaaap can now be officially found on both android and apple app stores respectively!</p>
      <button type="button" class="btn btn-primary btnblog2">Read More</button>
      <p class="card-text"><small class="text-muted"> November 16, 2017 by user </small></p>
    </div>
  </div>
  <div class="card blog-cards">
    <img class="card-img-top" src="assets/8822.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Snaaap is Officially on GooglePlay and iOS Appstore</h5>
      <p class="card-text">Snaaap can now be officially found on both android and apple app stores respectively!</p>
      <button type="button" class="btn btn-primary btnblog">Read More</button>
      <p class="card-text"><small class="text-muted"> November 16, 2017 by user </small></p>
    </div>
  </div>
</div>
</div>
</body>
</html>