<html>
<body>
	<div class="navigation-bar">
		<nav class="navbar navbar-expand-lg ">
		  	<img class="logo" src="assets/snap_logo_270x270.png" height="70" width="70" class="mr-2">

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>  
			  <form class="form-inline my-2 my-lg-0 ">
			      <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <button type="button" class="btn btn-link text-white">About Us</button>
			      </li>
			      <li class="nav-item">
			      	<button type="button" class="btn btn-link text-white">Services</button>
			      </li>
			      <li class="nav-item">
			      	<button type="button" class="btn btn-link text-white">Our Team</button>
			      </li>
			      <li class="nav-item">
			      	<button type="button" class="btn btn-link text-white">Clients</button>
			      </li>
			      <li class="nav-item">
			      	<button type="button" class="btn btn-link text-white">Blog</button>
			      </li>
			    </ul>
			  </form>
		</nav>

		<div class="row container-fluid mt-5">
			<div class="col-xs-12 col-xs-12 col-md-12 mt-5 pl-5 text-center">
				<h1 id="subtitle" class="condensed-text text-white display-5 pl-0">EMPOWERING THE INTERNET OF INTERACTIONS</h1>
			</div>
		</div>
	</div>
</body>
</html>