<html>
<body>


			<!-- team -->
				
<div class="team-all team-bg" id="team" >
	<div class="container">
		<div class="team-grids">
			<h1 class="condensed-text display-5 pl-0 " style="text-align: center;" >OURTEAM</h1>
			<div class="col-md-4 col-sm-4 team-gd">
				<div class="team-left">
					<div class="team-top">
					
					</div>
					<div class="team-bottom">
						<h4>Shaun Tan</h4>
						<p>CEO, ADHD Dreamer & Doer </p>
						<ul>
							<li>
								<a href="#">
									<div class="fb_icon1"><span class="fa fa-linkedin" aria-hidden="true"></span>	
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="fb_icon2"><span class="fa fa-twitter"  aria-hidden="true"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon3">
									<span class="fa fa-rss" aria-hidden="true"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="t-img">
						<img src="assets/boss1.png" alt=" " />
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 team-gd">
				<div class="team-left">
					<div class="team-top">
					
					</div>
					<div class="team-bottom">
						<h4>Chia Chien Wei</h4>
						<p>COO, Adventurer & Deep Thinker</p>
						<ul>
							<li>
								<a href="#">
									<div class=" fb_icon1" ><span class="fa fa-facebook" aria-hidden="true"></span>	
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon2"><span class="fa fa-twitter"  aria-hidden="true"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon3"><span class="fa fa-rss" aria-hidden="true"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="t-img">
						<img src="assets/boss2.png" alt=" " />
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 team-gd team-buttom">
				<div class="team-left">
					<div class="team-top">
					
					</div>
					<div class="team-bottom">
						<h4>Wilson Neo</h4>
						<p> ADVISOR, Stratigic Thinker & WorldTraveler</p>
						<ul>
							<li>
								<a href="#">
									<div class="fb_icon1">
                                       <span class="fa fa-facebook" aria-hidden="true"></span>									
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon2">
									<span class="fa fa-twitter"  aria-hidden="true"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon3">
									<span class="fa fa-rss" aria-hidden="true"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="t-img">
						<img src="assets/boss3.jpg" alt=" " />
					</div>
				</div>
			</div>

<!-- team usod -->
						<div class="col-md-4 col-sm-4 team-gd team-usod">
				<div class="team-left">
					<div class="team-top">
					
					</div>
					<div class="team-bottom">
						<h4>See Tho Yong Yang</h4>
						<p> CAO,Dog Owner & Realist</p>
						<ul>
							<li>
								<a href="#">
									<div class=" fb_icon1" ><span class="fa fa-facebook" aria-hidden="true"></span>	
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon2"><span class="fa fa-twitter"  aria-hidden="true"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon3"><span class="fa fa-rss" aria-hidden="true"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="t-img">
						<img src="assets/boss4.jpg" alt=" " />
					</div>
				</div>
			</div>


						<div class="col-md-4 col-sm-4 team-gd team-usod2">
				<div class="team-left">
					<div class="team-top">
					
					</div>
					<div class="team-bottom">
						<h4>Mathew Tan<h4>
						<p>Product Manager,Angling Expert & Designer</p>
						<ul>
							<li>
								<a href="#">
									<div class=" fb_icon1" ><span class="fa fa-facebook" aria-hidden="true"></span>	
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon2"><span class="fa fa-twitter"  aria-hidden="true"></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class=" fb_icon3"><span class="fa fa-rss" aria-hidden="true"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="t-img">
						<img src="assets/boss5.png" alt=" " />
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

</div>
<!-- //team -->
<!-- 

<div class="card-deck deck-team">
  <div class="card card-team">
  	<center>
    <img class="card-img-top boss1" src="assets/boss1.png" alt="Card image cap">
    </center>
    <div class="card-body team-cardbody">
    	<center>
      <h5 class="card-title">boss1</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </center>
    </div>
  </div>

  <div class="card card-team">
  	<center>
    <img class="card-img-top boss2" src="assets/boss2.png" alt="Card image cap">
    </center>
    <div class="card-body team-cardbody">
    	<center>
      <h5 class="card-title">boss2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </center>
    </div>
  </div>

  <div class="card card-team">
  	<center>
    <img class="card-img-top boss3" src="assets/boss3.jpg" alt="Card image cap">
    </center>
    <div class="card-body team-cardbody">
    	<center>
      <h5 class="card-title">boss3</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </center>
    </div>
  </div>
</div>

<div class="card-deck deck-team2">
  <div class="card">
  	<center>
    <img class="card-img-top boss4" src="assets/boss4.jpg" alt="Card image cap">
</center>
    <div class="card-body team-cardbody2">
    	<center>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </center>
      
    </div>
  </div>
  
  <div class="card">
  	<center>
    <img class="card-img-top boss5" src="assets/boss5.png" alt="Card image cap">

    <div class="card-body team-cardbody2">
      <h5 class="card-title">Card title</h5>
  </center>
  <center>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </center>
    </div>
  </div>
</div> -->




</body>
</html>