<html>
<body>



<div class="row why-bg">
            
        <div class="col-sm-6" style="padding-left:100px;">
       <video width="400" controls>
                    <source src="assets/introvid.mp4" type="video/mp4">
                  </video>
              
        </div>

        <div class="col-sm-6">
              <div class="card  cad4" style="border:none;">
                <div class="card-body ">
                   <h3 class="condensed-text display-5 pl-0">Why Snaaap for Merchants?</h3>
                   <br>
                  <h5 class="card-text ">With over 8.4 million mobile subscribers in Singapore, it pays to have a digital presence with a mobile platform to promote your business with no upfront cost! Receive mobile payments, reach new customers, increase visibility and your revenue. Be discovered online by potentially 200,000 users that will be coming online through our campaigns and incentives! .</h5>
                  </div>
              </div>

          </div> 
      </div>




      
          </body>
          <html